# Base de datos — Supabase
DB_HOST= your host
DB_PORT= your port
DB_NAME=postgres
DB_USERNAME= your user
DB_PASSWORD= your pass

# RabbitMQ — CloudAMQP
RABBITMQ_HOST=your host
RABBITMQ_PORT=your port
RABBITMQ_USERNAME=your user
RABBITMQ_PASSWORD=your pass
RABBITMQ_VHOST=your virtual host

# JWT
JWT_SECRET=your jwt secret