# Base de datos — Supabase
DB_HOST=url
DB_PORT=port
DB_NAME=postgres
DB_USERNAME=your user
DB_PASSWORD=your pass

# RabbitMQ — CloudAMQP
RABBITMQ_HOST=url
RABBITMQ_PORT=port
RABBITMQ_USERNAME=your user
RABBITMQ_PASSWORD=your pass
RABBITMQ_VHOST=your virtual host(your user)

# JWT — EXACTAMENTE igual que en auth-service
JWT_SECRET=your jwt secret
JWT_REFRESH_EXPIRATION=604800000